@model Person

<div class="row align-items-start">

    <div class="col">
        <p>@Model.Name</p>
    </div>

    <div class="col">
        <p>@Model.City.CityName</p>
    </div>

    <div class="col">
        <p>@Model.PhoneNumber</p>
    </div>

    <div class="col">
        <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
    </div>

    <div class="col">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-secondary">Edit</a>
    </div>

    <div class="col">
        <a asp-action="ShowLanguages" asp-route-id="@Model.ID" class="btn btn-info">Languages</a>
    </div>

</div>